	body { font-family: 'MuseoSans-300';
	src: local("/fonts/MuseoSans-300.otf");
	text-align: center;
	background-image: url('/static/img/diagmonds.png');

}

h3 {
	color: rgb(255, 0, 82);
}

.logopositivo {
margin-left: 50px;
  width: 150px;
  height: 60px;}



.img-thumbnail {
padding: 20px;
}


