
body {
	background-image: url('/static/img/diagmonds.png');
}

h1 {
font-family: 'MuseoSans-300';
src: local("/fonts/MuseoSans-300.otf");
text-align: left;
color: rgb(235,230,14);
font-size: 50px;
}



.logopositivo {
margin-left: 50px;
  width: 150px;
  height: 60px; }

.proceso {

margin-left: 25%;
margin-right: 20%;
margin-top: 1%;
margin-bottom: 2%;
width: 550px;
height:350px;
opacity: 0.6;

}