/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
	font-size: 100%;
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 2%;
	top: 50%;
	width: 1.625em;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent; ;
	width: 1.625em;
	height: 1.625em;
	outline: none;
	margin: 2.5% 0;
	border-radius: 50%;
	border: 2% solid rgb(235,230,14);
	font-size: 100%;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background: rgb(235,230,14);
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: rgb(235,230,14);
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

img {
	max-width: 100%;
}

body {
	font-size: 100%;
}

a {
	font-size: 100%;
}

#fbsection1 {
	background-image: url(../images/inventariobrand.png);}

#fbsection2 {
	background-image: url(../images/india.jpg);
	color: white;
	font-size: 2.5em;}

	#fbsection2 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}

#fbsection3 {
	background-image: url(../images/map.jpg);
	color: white;
	font-size: 2.5em;}

	#fbsection3 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}

#fbsection4 {
	background-image: url(../images/newspaper1.jpg);
	color: white;
	font-size: 2.5em;}
	#fbsection4 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}

#fbsection5 {
	background-image: url(../images/lights.jpg);
	color: white;
	font-size: 2.5em}
	#fbsection5 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}

#fbsection6 {
	background-image: url(../images/schoolgirl.jpg);
	color: white;
	font-size: 2.5em;}
	#fbsection6 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}

#fbsection7 {
	background-image: url(../images/vision.jpg);
	color: white;
	font-size: 2.5em;}
	#fbsection7 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}
#fbsection8 {
	background-image: url(../images/proceso.jpg);
	color: white;
	font-size: 2.5em;}
	#fbsection8 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}
#fbsection9 {
	background-image: url(../images/people2.jpg);
	color: white;
	font-size: 2.5em;}
	#fbsection9 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}

#fbsection10 {
	background-image: url(../images/inventory.jpg);
	color: white;
	font-size: 2.5em;}
	#fbsection10 a{
		color: rgb(255, 0, 82);
		position: absolute;
		margin-top: 25%;
		margin-left: 30%;
		font-size: 2.75em;}

a:hover {
	color:rgb(235,230,14);
}

#negativologo{
	margin-left: -120px;
	width: 300px;
  height: 150px; }
}


