<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Inventario Social</title>
		<meta name="description" content="Blueprint: Fixed Background Scrolling Layout" />
		<meta name="keywords" content="background scrolling, fixed background, background-attachment, jquery" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<script src="/static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">

			
				
			</header>	
			<div id="cbp-fbscroller" class="cbp-fbscroller">
				<nav>
					<a href="/#fbsection1/" class="cbp-fbcurrent">I</a>
					<a href="#fbsection2">M</a>
					<a href="#fbsection3">N</a>
					<a href="#fbsection4">F</a>
					<a href="#fbsection5">L</a>
					<a href="#fbsection5">V</a>
					<a href="#fbsection5">P</a>
					<a href="#fbsection5">V</a>
					<a href="#fbsection5">E</a>
					<a href="#fbsection5">C</a>

				</nav>
				<section id="fbsection1"></section>
				<section id="fbsection2"><div class="text">Soluciones a problemas mundiales<br><a href="/inventarios/">Inventario</a></div></section>
				<section id="fbsection3">Identifiquemos franquicias sociales juntos<br><a href="/map/">Mapeo</a></section>
				<section id="fbsection4">En la prensa sobre franquicias sociales<br><a href="/noticias/">Noticias</a></section>
				<section id="fbsection5">Los fundadores detras de la iniciativa <br><a href="/fundadores/">Fundadores </a></section>
				<section id="fbsection6">Ellos están detrás de las soluciones mas relevantes de nuestros tiempos<br><a href="/lideres/">Líderes</a></section>
				<section id="fbsection7">Conoce la visión que nos mueve<br><a href="/vision/">Visión</a></section>
				<section id="fbsection8">Conoce nuestro plan y proceso para identificar franquicias sociales<br><a href="/proceso/">Proceso</a></section>
				<section id="fbsection9">¿Quieres impactar al mundo?<br><a href="/vacantes/">Vacantes</a></section>
				<section id="fbsection10"><div>Escríbenos<br><a href="/contacto/">Contacto</a></div></section>

				
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- jquery.easing by http://gsgd.co.uk/ : http://gsgd.co.uk/sandbox/jquery/easing/ -->
		<script src="/static/js/jquery.easing.min.js"></script>
		<script src="/static/js/jquery-1.10.2.min.map"></script>
		<!-- waypoints jQuery plugin by http://imakewebthings.com/ : http://imakewebthings.com/jquery-waypoints/ -->
		<script src="/static/js/waypoints.min.js"></script>
		<!-- jquery-smartresize by @louis_remi : https://github.com/louisremi/jquery-smartresize -->
		<script src="/static/js/jquery.debouncedresize.js"></script>
		<script src="/static/js/cbpFixedScrollLayout.min.js"></script>
		<script>
			$(function() {
				cbpFixedScrollLayout.init();
			});
		</script>
	</body>
</html>
