{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="/static/css/principal.css"  media= "screen"/>
{% endblock stylesheet %}

{% block body %}

<div class="full">

<div class="slider" id="slider">
  <div class="holder">

  <div class="slide " id="slide-0"><span class="temp"><p>Soluciones a problemas mundiales<br>conocelás<br><a href="/inventarios/">Inventario</a></p></span></div>
  <div class="slide" id="slide-1"><span class="temp"> <p>Que está en<br>la prensa<br><a href="/noticias/">Noticias</a></p></span></div>
  <div class="slide" id="slide-2"><span class="temp"><p>Identifiquemos franquicias <br> sociales juntos<br><a href="/map/">Mapa</a></p></span></div>
 

  <div class="slide" id="slide-3"><span class="temp"><p>Los fundadores<br>detrás de la iniciativa<br><a href="/fundadores/">Fundadores </a></p></span></div>
  
  <div class="slide" id="slide-4"><span class="temp"><p>Ellos están detrás de las<br>soluciones mas relevantes de nuestros tiempos<br><a href="/lideres/">Lideres</a></p></span></div>
  <div class="slide" id="slide-5"><span class="temp"><p>Conoce la visión<br>que nos hace trabajar<br><a href="/vision/">Visión</a></p></span></div>
  
  <div class="slide" id="slide-6"><span class="temp"><p>El proceso que<br>seguimos para identificar franquicias<br><a href="/proceso/">Proceso</a></p></span></div>
 
  <div class="slide" id="slide-7"><span class="temp"><p>¿Quieres impactar<br>el mundo?<br><a href="/vacantes/">Vacantes</a></p></span></div>
  
  <div class="slide" id="slide-8"><span class="temp"><p>Escríbenos<br>queremos sabes lo que piensas<br><a href="/contacto/">Contacto</a></li></p></span></div>
  
   </div>
 
</div>

</div>


{% endblock %}






<!--div class= "full">
  <div class="row">
    <div class="col-md-4">
      <img class = "unique" class="img-responsive" alt="Responsive image" src="/static/img/inventory.jpg"> <p class= "transboxunique"> Conoce quienes estan  <br> generando soluciones <br> para problemas <br> mundiales. <br> <a href="/inventarios/">Inventario</a> </p> 


    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <img class="head"  class="img-responsive" alt="Responsive image" src="/static/img/newspaper.jpg"> 
          <p class="transbox"> Conoce que dice <br> la prensa <br> sobre innovación <br> social. <br> <a href="/noticias/">Noticias </a> </p> 
        </div>
        <div class="col-md-6">

          <img class="head" class="img-responsive" alt="Responsive image" src="/static/img/map.jpg"> 

          <p class="transbox" > Conoce el proceso de <br> selección y ayudanos a identificar <br> franquicias sociales.  <a href="/map/">Mapa</a> </p> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img class="head" class="img-responsive" alt="Responsive image" src="/static/img/founders.jpg" ><p class="transbox">Conoce a los <br> fundadores <br> de Inventario <br> Social. <br> <a href="/fundadores/">Fundadores </a> </p>
        </div>
        <div class="col-md-6">
          <img class="head" class="img-responsive" alt="Responsive image" src="/static/img/lightbulbs.jpg" ><p class="transbox">Conoce a los <br> líderes <br> del sector. <a href="/lideres/">Líderes</a> </p> 
        </div>
      </div>
    </div>
  </div>
</div!-->


