<!DOCTYPE HTML PUBLIC " -//W3C//DTD HTML 4.01//EN">
<html lang= "en">
<head>
	<title>{%block title%}IS{%endblock%}</title>
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" media= "screen">
<link rel="stylesheet" type="text/css" href="/static/css/grid.css" media= "screen">
<link rel="stylesheet" type="text/css" href="/static/css/principal.css"  media= "screen"/>

</head>

<body>
<div id= "logonegativo" class= "sidepan">
	<img src="/static/img/Negativo.jpg" alt= "logonegativoo"/> 
</div>

<div <div id="Transparent_Box">                                          
    <div class="text">                                          
     <ul class="nav">
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Enfoque</a></li>
        <li><a href="#">Plan</a></li>
        <li class= "last"><a href="map/">Mapa</a></li>
      </ul>
      <p>Aqui van noticias del dia</p>

    </div>  
</div>
      






	
</body>
</html>