{% extends "base.html" %}
{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="/static/css/contacto.css"  media= "screen"/>
{% endblock stylesheet %}


{% block body %}

<div class="container">
<div class="jumbotron">
  
  <h1>Escríbenos</h1>
  
</div>
</div>
<div class="container">
<form role="form"  action="contacto/gracias/" method="POST"> {% csrf_token %}
<input type="text" class="form-control" placeholder="Nombre" name= "NombreContacto">
<input type="text" class="form-control" placeholder="Empresa/Organización" name="TrabajoContacto">
<input type="text" class="form-control" placeholder="Correo Electrónico" name="CorreoContacto">
<input type="text" class="form-control" placeholder="Página Web" name="WebContacto">
<textarea class="form-control" rows="7" placeholder= "Mensaje" name="MensajeContacto"></textarea>
 <button type="submit" class="btn btn-default">Enviar</button>
</form>
</div>

{% endblock %}
















