{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="/static/css/map.css"  media= "screen"/>
{% endblock stylesheet %}


{% block body %}
<h1>Mapa de Soluciones Sociales</h1>
<h2>Ayudanos a identificar soluciones innovadoras<br> para problemas sociales que puedan ser replicadas en todo el país. </h2>



<div class="container">
<form role="form"  action="contacto/gracias/" method="POST"> {% csrf_token %}
<input type="text" class="form-control" placeholder="Nombre" name= "NombreMapa">
<input type="text" class="form-control" placeholder="Empresa/Organización" name="TrabajoMapa">
<input type="text" class="form-control" placeholder="Correo Electrónico" name="CorreoMapa">
<input type="text" class="form-control" placeholder="Página Web" name="WebMapa">
<textarea class="form-control" rows="7" placeholder= "Mensaje" name="MensajeMapa"></textarea>
 <div class="form-group">
    <label for="exampleInputFile">Adjuntar Archivo</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Adjuntar más información.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Listo
    </label>
  </div>
  <button type="submit" class="btn btn-default">Enviar</button>
</form>

</div>


 {% endblock %}

